{% extends "website/layout.html" %}
{% load static %}
{% load markdownify %}

{% block title %}{{ blog.title }}{% endblock %}

{% block head %}
    <script src="{% static 'website/blog.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            initComments(parseInt("{{ blog.id }}"));

            document.getElementById('comment-form').onsubmit = function(event) {
                event.preventDefault();

                const firstName = document.getElementById('comment-first-name');
                const lastName = document.getElementById('comment-last-name');
                const content = document.getElementById('comment-content');

                fetch('/create-comment/{{ blog.id }}', {
                    method: 'POST',
                    body: JSON.stringify({
                        first_name: firstName.value,
                        last_name: lastName.value,
                        content: content.value
                    })
                })
                .then(response => response.json())
                .then(comment => {
                    console.log(comment);

                    const parentDiv = document.getElementById('comment-parent');

                    const flexStartDiv = document.createElement('div');
                    flexStartDiv.setAttribute('class', 'd-flex flex-start mt-4');
                    flexStartDiv.innerHTML += '<img class="rounded-circle shadow-1-strong me-3" src="/static/website/images/default-pfp.png" alt="avatar" width="65" height="65"/>';

                    const secondaryDiv = document.createElement('div');
                    secondaryDiv.setAttribute('class', 'flex-grow-1 flex-shrink-1');
                    secondaryDiv.innerHTML = `<div id="${comment.id}"><div class="d-flex justify-content-between align-items-center"><p class="mb-1"><b>${comment.first_name} ${comment.last_name}</b><span class="small"><b> - ${comment.date} (UTC)</b></span></p><button style="border: none; background: none; color: blue; font-weight: bold;" onclick="showForm(${comment.id}, '${comment.first_name} ${comment.last_name}', ${comment.id})"><i class="fas fa-reply fa-xs"></i><span class="small"> reply</span></button></div><p class="small mb-0" style="display: inline-block; text-align: left; margin-top: 20px; margin-bottom: 20px;">${comment.content}</p></div>`;
                    
                    const firstChild = parentDiv.firstChild;
                    flexStartDiv.append(secondaryDiv);
                    parentDiv.insertBefore(flexStartDiv, firstChild);
                    for (let i = 0; i < 2; i++) parentDiv.insertBefore(document.createElement('br'), firstChild)
                });

                firstName.value = "";
                lastName.value = "";
                content.value = "";
            };
        });
    </script>
{% endblock %}

{% block body %}
    <div>
        <!--Blog Title-->
        <div class="page-title container">
            <div style="display: inline-block; margin-left: 25px; margin-right: 25px;">
                <h1 class="title" style="font-size: 50px;">{{ blog.title }}</h1>
            </div>
        </div>

        <!--Blog Information-->
        <div class="blog-info container">
            <div class="blog-info-elements">
                <i class="fa-solid fa-calendar-days"></i>
                <span>{{ blog.date }}</span>
            </div>
            <div class="blog-info-elements">
                <i class="fa-solid fa-clock"></i>
                <span>~ {{ blog.approx_length_min }} minute(s)</span>
            </div>
            <div class="blog-info-elements">
                <i class="fa-solid fa-user"></i>
                <span>Mark Wang</span>
            </div>
        </div>

        <!--Blog Image-->
        <div class="container blog-image-container">
            <img src="/static/website/images/{{ blog.image_path }}" class="blog-image">
        </div>

        <!--Blog Content-->
        <div class="blog-description container">
            <hr>
            <div style="display: inline-block; text-align: left;">
                {{blog.content | markdownify }}
            </div>
            <hr>
        </div>

        <!--Comments Section-->
        <section>
            <div class="container my-5 py-5">
                <div class="row d-flex justify-content-center" >
                    <div class="col-md-12 col-lg-10 col-xl-8">
                        <div class="card" style="border: none;">
                            <div class="card-body p-4">
                                <h1 class="text-center mb-4 pb-2" style="font-weight: bold;">Comments Section</h1>
                                <form id="comment-form" style="margin-top: 50px; margin-bottom: 50px;">
                                    <div class="comment-div">
                                        <div class="row mb-3">
                                            <label class="col-sm-3 col-form-label"><b>First Name:</b></label>
                                            <div class="col-sm-9">
                                                <input required id="comment-first-name" minlength="2" type="text" placeholder="Enter first name">
                                            </div>
                                        </div>

                                        <br> <br>

                                        <div class="row mb-3">
                                            <label class="col-sm-3 col-form-label"><b>Last Name:</b></label>
                                            <div class="col-sm-9">
                                                <input required id="comment-last-name" minlength="2" type="text" placeholder="Enter last name">
                                            </div>
                                        </div>

                                        <br> <br>

                                        <div class="row mb-3">
                                            <label class="col-sm-3 col-form-label"><b>Content:</b></label>
                                            <div class="col-sm-9">
                                                <textarea required rows="5" minlength="2" id="comment-content" placeholder="Enter content"></textarea>
                                            </div>
                                        </div>

                                        <input id="comment-submit" type="submit" value="Comment" class="paginator-button">
                                    </div>
                                </form>
                                <div class="row">
                                    <div class="col" id="comment-parent">
                                        <br> <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="alternative-comments">
            </div>
        </section>
    </div>
{% endblock %}