{% extends "website/layout.html" %}
{% load static %}

{% block title %}Create Blog{% endblock %}

{% block head %}
    <script src="{% static 'website/create-blog.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="page-title">
        <h1 class="title non-rotate">Create Blog</h1>
    </div>

    <div class="mx-auto col-10 col-md-8 col-lg-6">
        <form class="custom-form" id="create-blog-form">
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label"><b>Title:</b></label>
                <div class="col-sm-10">
                    <input id="form-title" required type="text" class="form-control" placeholder="Enter Title">
                </div>
            </div>

            <br> <br>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label"><b>Description:</b></label>
                <div class="col-sm-10">
                    <textarea id="form-description" required class="form-control" rows="15" placeholder="Enter Description"></textarea>
                </div>
            </div>

            <br> <br>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label"><b>Content:</b></label>
                <div class="col-sm-10">
                    <textarea id="form-content" required class="form-control" rows="15" placeholder="Enter Content"></textarea>
                </div>
            </div>

            <br> <br>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label"><b>Approx Length (min):</b></label>
                <div class="col-sm-10">
                    <input id="form-length" required type="number" class="form-control" min="1">
                </div>
            </div>

            <br> <br>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label"><b>Image Path:</b></label>
                <div class="col-sm-10">
                    <input id="form-path" required type="text" class="form-control" placeholder="Enter Image Path">
                </div>
            </div>

            <br> <br>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label"><b>Is Active:</b></label>
                <div class="col-sm-10 form-check">
                    <input class="form-check-input" type="checkbox" id="form-is-active" checked>
                </div>
            </div>

            <button type="submit" class="paginator-button" style="width: 200px; height: 65px;"><b>Create Blog</b></button>
        </form>
    </div>
{% endblock %}