{% extends "website/layout.html" %}
{% load static %}

{% block title %}Projects{% endblock %}

{% block head %}
    <script src="{% static 'website/projects.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="page-title">
        <h1 class="title non-rotate">Projects</h1>
    </div>

    <div class="search-bar">
        <button class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></button>
        <input type="text" class="textbar" placeholder="Search project by title">
    </div>

    <div class="card-display">
        {% if projects %}
            {% for project in projects %}
                <div class="card showcase-card" style="max-width: 30rem;" onclick="redirect('{{ project.link }}')">
                    <img src="/static/website/images/{{ project.image_path }}" class="image card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text card-title">{{ project.title }}</p>
                        <p class="card-text">{{ project.description }}</p>
                    </div>
                    <div class="badges" id="{{ project.id }}">
                        <script>
                            add_id(parseInt("{{ project.id }}"));
                        </script>
                    </div>
                    {% if project.in_progress %}
                        <p style="font-size: 12px; font-weight: bold; margin-top: 7px;">(in progress)</p>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            {% if query %}
                <h3 style="font-weight: bold; margin-top: 50px;">No results found, try checking your spelling.</h3>
            {% else %}
                <h3 style="font-weight: bold; margin-top: 50px;">Sorry, nothing to find here just yet :(</h3>
            {% endif %}
        {% endif %}
    </div>

    {% if query %}
        {% if projects.has_previous %}
            <button class="paginator-button" onclick="(() => window.location.href = '/projects/{{ query }}/{{ projects.previous_page_number }}')()">Previous</button>
        {% else %}
            <button class="paginator-button" disabled>Previous</button>
        {% endif %}

        {% if projects.has_next %}
            <button class="paginator-button" onclick="(() => window.location.href = '/projects/{{ query }}/{{ projects.next_page_number }}')()">Next</button>
        {% else %}
            <button class="paginator-button" disabled>Next</button>
        {% endif %}
    {% else %}
        {% if projects.has_previous %}
            <button class="paginator-button" onclick="(() => window.location.href = '/projects/{{ projects.previous_page_number }}')()">Previous</button>
        {% else %}
            <button class="paginator-button" disabled>Previous</button>
        {% endif %}

        {% if projects.has_next %}
            <button class="paginator-button" onclick="(() => window.location.href = '/projects/{{ projects.next_page_number }}')()">Next</button>
        {% else %}
            <button class="paginator-button" disabled>Next</button>
        {% endif %}
    {% endif %}
{% endblock %}
